/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

#my-carousel .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#my-carousel .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}


.carousel-item {
	height: 120vh;
  }
  .carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
	-webkit-animation: mycarousel 25s;
	-o-animation: mycarousel 25s;
	animation:mycarousel 25s;
}

@keyframes mycarousel{
	form{
		transform: scale(1.1);
	}
	to{
		transform: scale(1.5, 1.5);
	}
}
.carousel-caption{
	position: absolute;
	margin: 200px auto;
	z-index: 1;
	
}
#my-carousel .carousel-item h2{
	font-size: 70px;
	
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
#my-carousel .carousel-item p{
	font-size: 25px;
	font-family: 'Noto Serif', serif;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
#my-carousel .carousel-item.active h2{
	animation: fadeInLeft 1s ease forwards;
}
#my-carousel .carousel-item.active p{
	animation: fadeInRight 1s ease forwards;
}
.my-carousel .carousel-item.active button{
	animation:fadeInBottom 1s ease-in reverse;
}
.developer-img{
	border: 3px solid #fff;
	width: 150px;
	animation: developer 1s ease-in reverse;
}
.caro-custom-btn button{
	border: 3px solid #ff6600;
}
.caro-custom-btn button:nth-child(1){
	background: #ff6600;
}
.caro-custom-btn button:nth-child(1):hover{
	background: none;
	
}
.caro-custom-btn button:nth-child(2):hover{
	background: #ff6600;

}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInBottom{
	100%{
		opacity: 1;
		transform: translateY(200px);

	}
}
@keyframes developer{
	100%{
		opacity: 1;
		transform: translateY(-250px);

	}
}




/*responsive*/
@media(max-width: 767px){
	#my-carousel .carousel-control-next, 
	#my-carousel .carousel-control-prev,
	#my-carousel .carousel-indicators{
		display: none;
	}
	#my-carousel .carousel-caption h2{
		font-size: 35px;
	}
	#my-carousel .carousel-caption p{
		font-size: 15px;
	}
	.styling-nav .navbar{
		background-color: black;
		box-shadow: 1px 1px 4px #888;
	}
	.navbar-nav{
		background: black;
		
	}
	.styling-nav .navbar .navbar-brand{		
		font-size: 18px;
		margin: 0;
		padding: 0;
	}
	.styling-nav .navbr-toggeler{
		border: none;	
	}
	.contact-me button{
		width: 50%;
	}
	
  }
  @media(max-width: 980px){
	  .navbar-nav{
		  background: #000;
	  }
  }
  

  /* navbar*/
 .styling-nav .navbar{
	z-index: 99999;
 }
 nav.scrolled {
	background-color:rgba(0, 0, 0, 0.7) !important;
	transition: background-color 1s linear;
	box-shadow: 2px 2px 5px #555;
	padding-top: 0;
	
  }
 .styling-nav .navbar-brand{
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 750;
	letter-spacing: 2px;
}

.styling-nav .navbar ul li a{
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 5px;
	
}
.styling-nav .navbar .customNavColor{
	color: #fff;
}
.navbar.custom-nav-color.scrolled{
	color: #000;
}


/****************** starts about me section ***************/
.about-me{
	margin-top: -80px;
	background-color:#ecf0f3;
	position: relative;
	z-index: 2;
	box-shadow: 1px 1px 5px #888;
}
/****follow me section starts here*****/
.follow-me .follow-icons{
	display: flex;
	justify-content: center;
	align-items: center;

}
.follow-me .follow-icons a{
	text-decoration: none;
	display: flex;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 20px 10px;
	align-items: center;
	justify-content: center;
	
	box-shadow: 6px 6px 10px -1px #888,
				-6px -6px 10px -1px #fff;
	transition: transform 0.5s;
}
.follow-me .follow-icons a i{
	font-size: 30px;
	color: #ff6600;
}
.follow-me .follow-icons a:hover{
	box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
    transform: translateY(3px);
}
.follow-me .follow-icons a:hover i{
	transform: scale(.90);
}
.follow-me .follow-icons a:nth-child(1):hover i{
    color: blue;
	transform: rotate(360deg);
	transition: 0.5s;
}
.follow-me .follow-icons a:nth-child(2):hover i{
    color: red;
	transform: rotate(360deg);
	transition: 0.5s;
}
.follow-me .follow-icons a:nth-child(3):hover i{
    color:#00acee;
	transform: rotate(360deg);
	transition: 0.5s;
}
.follow-me .follow-icons a:nth-child(4):hover i{
    color: #25d366;
	transform: rotate(360deg);
	transition: 0.5s;
}
.follow-me .follow-icons a:nth-child(5):hover i{
    color: #0077b5;
	transform: rotate(360deg);
	transition: 0.5s;
}

.follow-me .follow-icons a:nth-child(1):hover{
	border: 1px solid blue;
}
.follow-me .follow-icons a:nth-child(2):hover{
	border: 1px solid red;
}
.follow-me .follow-icons a:nth-child(3):hover {
	border: 1px solid #00acee;
}
.follow-me .follow-icons a:nth-child(4):hover{
	border: 1px solid #25d366;
}
.follow-me .follow-icons a:nth-child(5):hover{
	border: 1px solid #0077b5;
}

#signature{
	font-family: 'Tangerine', cursive;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
}
/****follow me section ends here*****/

/***************** ends about me section ***************/

/*****************Skills section starts from here***********/
.skills{
	background-image: url(img/skills.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 20px;
	margin: 50px 0;
	position: relative;
	background-attachment: fixed;
	
}
.skills::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	
}
.skills h4, .skills span{
	position: relative;
	color: #fff;
	z-index: 5;
}
.skills .custom-percent{
	color: #000;
}
.skills .container .row{
	justify-content: space-between;
}
.skills ul{
	margin: 20px 0;
}
.skills ul li{
	list-style-type:none;
	margin-top: 40px;
}
.custom-title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.skills .progress{
	height: 20px;
	position: relative;
	box-shadow: 1px 1px 3px #999;
}
.skills .progress .percentage{
	color: #000;
	font-weight: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	
}
.skills .progress .html{
	width: 0;
	height: 20px;
	animation:html 2s ease-in-out forwards;
}
.skills .progress .css{
	width: 0;
	height: 20px;
	animation:css 2s ease-in-out forwards;
}
.skills .progress .bootstrap{
	width: 0;
	height: 20px;
	animation:bootstrap 2s ease-in-out forwards;
}
.skills .progress .javascript{
	width: 0;
	height: 20px;
	animation:javascript 2s ease-in-out forwards;
}
.skills .progress .python{
	width: 0;
	height: 20px;
	animation:python 2s ease-in-out forwards;
}
.skills .progress .mysql{
	width: 0;
	height: 20px;
	animation:mysql 2s ease-in-out forwards;
}
@keyframes html{
	to{
		width: 92%;
		background: #ff6600;
	}
}
@keyframes css{
	to{
		width: 85%;
		background: #ff6600;
	}
}
@keyframes bootstrap{
	to{
		width: 88%;
		background: #ff6600;
	}
}
@keyframes javascript{
	to{
		width: 80%;
		background: #ff6600;
	}
}
@keyframes python{
	to{
		width: 75%;
		background: #ff6600;
	}
}
@keyframes mysql{
	to{
		width: 87%;
		background: #ff6600;
	}
}




/*********circle progress bar section starts here**********/

#circle-bar{
	justify-content: space-between;
	
}
.circle-box::before{
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background:#e2e2e2;
	
}
.circle-box{
	position: relative;
	width: 180px;
	height: 220px;
	box-shadow: 1px 1px 6px #555;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	margin: 0 auto;
}
.circle-box .percent{
	position: relative;
	width: 150px;
	height: 150px;
}
.circle-box .percent svg{
	position: relative;
	width: 150px;
	height: 150px;
}
.circle-box .circle-name{
	z-index: 1;
}
#circle-bar .circle-box:hover{
	transform: translateY(-10px);


}
.circle-box .percent svg circle{
	width: 150px;
	height: 150px;
	fill: none;
	stroke-width: 10;
	stroke:#ff6600;
	transform: translate(5px,5px);
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	
}

.circle-box .communication{

	animation: communication 3s forwards;
}

.circle-box .team-work{

	animation: team-work 3s forwards;
}
.circle-box .project-mant{

	animation: project-mant 3s forwards;
}
.circle-box .creativity{

	animation: creativity 3s forwards;
}

@keyframes communication{
	to{
		stroke-dashoffset: 30;
	}
	
}
@keyframes team-work{
	to{
		stroke-dashoffset: 70;
	}
}
@keyframes project-mant{
	to{
		stroke-dashoffset: 22;
	}
}
@keyframes creativity{
	to{
		stroke-dashoffset: 79;
	}
}
.circle-box .percent .circle-value{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;

}
.circle-box .percent .circle-value h2{
	font-size: 45px;
}
.circle-box .percent .circle-value span{
	font-size: 22px;
}
/*********circle progress bar section ends here**********/

/*****************Skills section ends from here***********/

/***********contact us section starts from here****************/

.contact-me i{
    color: #ff6600;
    border: 1px solid #ff6600;
    padding: 20px;
    border-radius: 50%;
}
.contact-me button{
    background: #ff6600;
    color: #fff;
    margin: 0 auto;
	width: 50%;

    
}
/***********contact us section ends from here****************/
/***************Starts service section********************/
.section-services {
	font-family: "Poppins", sans-serif;
	background-color: #e3e4e9;
	color: #202020;
	padding-top: 115px;
    padding-bottom: 120px;
	
}
.section-services .header-section {
	margin-bottom: 34px;
}

.custom-title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.custom-title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-100%);
	width: 60px;
	height: 3px;
	background-color: #ff6600;
    border-radius: 3px;
}

.custom-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 60px;
	height: 3px;
	background-color: #000;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
    box-shadow: 6px 8px 10px #888;
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
    text-align: center;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 15px;
    height: 15px;
    background-color:#ff6600;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #ff6600;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: #fff;
	color: #ff6600;
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	color: #fff;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ff6600;
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
}


/***************Starts service section********************/



/*===========*/
